body {
    margin: 0;
    padding: 0;
    background-image: url(https://www.publicdomainpictures.net/pictures/140000/nahled/blue-background-14466365179vp.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.pag2_dop3, .pag2_dop2, .pag2_dop1 {
    position: fixed;
    border: 2px solid black; /* Añadido */
    border-radius: 10%;
}

.pag2_dop3 {
    top: 300px;
    right: 950px;
}

.pag2_dop2 {
    top: 450px;
    right: 950px;
}

.pag2_dop1 {
    top: 600px;
    right: 950px;
}

.dop1, .dop2, .dop3 {
    position: fixed;
    border: 2px solid black; /* Añadido */
    border-radius: 5px; /* Ajustado */
}

.dop1 {
    top: 647px;
    right: 800px;
}

.dop2 {
    top: 500px;
    right: 800px;
}

.dop3 {
    top: 340px;
    right: 800px;
}

.back2 {
    position: fixed;
    top: 3px;
    right: 15px;
}
