body {
    margin: 0;
    padding: 0;
    background-image: url(https://www.publicdomainpictures.net/pictures/140000/nahled/blue-background-14466365179vp.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.pag_dop3, .pag_dop2, .pag_dop1 {
    position: absolute; /* Cambiado de fixed a absolute */
    border: 2px solid black;
    border-radius: 10%;
}

.pag_dop3 {
    top: 250px;
    right: 1000px; /* Ajuste en la posición para evitar superposición */
}

.pag_dop2 {
    top: 370px;
    right: 1000px; /* Ajuste en la posición para evitar superposición */
}

.pag_dop1 {
    top: 500px;
    right: 1000px; /* Ajuste en la posición para evitar superposición */
}

.dop1,.dop2,.dop3{
position: fixed;

}


.dop1 {
    top: 550px;
    right: 850px; /* Ajuste en la posición para evitar superposición */
}

.dop2 {
    top: 430px;
    right: 850px; /* Ajuste en la posición para evitar superposición */
}

.dop3 {
    top: 300px;
    right: 850px; /* Ajuste en la posición para evitar superposición */
}

.back {
    position: absolute; /* Cambiado de fixed a absolute */
    top: 3px;
    right: 15px;
}
