body{
background-image: url(https://www.publicdomainpictures.net/pictures/140000/nahled/blue-background-14466365179vp.jpg);
background-size: cover;
 background-position: center ;
 font-family:  sans-serif;
}

p{
text-align: center;

}
.img_d {
    position: relative; /* Para posicionar de forma relativa con respecto a su posición original */
    top: 190px; /* Ajusta esta propiedad según sea necesario */
    left: 300px; /* Ajusta esta propiedad según sea necesario */
    border-radius: 10%;
    
}

.back_ini{
position: fixed;
top: 100px;
left: 1000px;
}